.admin-user-login{
    margin-top: 15rem;
}
.admin-user-login>h2{
    font-size: 2rem;
    color: aliceblue;
}
.login-btns>button{
    padding: 1rem;
    border: none;
    margin: 2rem;
    cursor: pointer;
}