*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    max-height: fit-content;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}