.take-quiz-box {
    margin: auto;
    width: fit-content;
    min-width: 300px;
    background-color: #70abbf;
    border-radius: 8px;
    padding: 1rem;
    color: black;
}

.take-quiz-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    padding: 1.5rem 2rem;
    border-radius: 8px;
}

.quiz-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333333;
    margin: 1rem 0;
    text-align: center;
}

.quiz-descp {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 1rem;
    text-align: center;
}

.options {
    text-align: left;
    color: #333333;
    font-size: 1rem;
}

.radio-btn {
    margin-right: 0.5rem;
}

.submit-btn {
    background-color: #57c848; 
    color: #ffffff;
    border: none;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 6px;
}

.submit-btn:hover {
    background-color: #0ba90b; 
}
