.view_container{
    min-height: 100vh;
    max-height: fit-content;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('../assets/why-question-reason-curious-confuse-concept.jpg') center/cover no-repeat;
}

.view_list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.view_box{
    box-sizing: content-box;
    width: 250px;
    min-height: 150px;
    background-color: #ffffff2f;
    padding: 1rem;
    margin-top: 5rem;
}
.take-quiz-btn{
    margin-top: 1rem;
    background-color: #269c1b;
    border: none;
    padding: 0.5rem;
    color: white;
    cursor: pointer;
}