*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.container{
    height: 100vh;
    width: 100%;
    color: aliceblue;
}
.login-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 15rem;
}
form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #5e5e5e61;
    padding: 4rem 4rem;
}
input{
    font-size: 1rem;
    padding: 5px 0px;
    box-sizing: border-box;
}
input[type='email'], input[type='password']{
    line-height: 1.4rem;
    border-radius: 1.2rem;
    border: none;
}
input[type='submit']{
    padding: 10px 20px;
    background-color: aquamarine;
    border: none;
    cursor: pointer;
}